Flask-CKEditor==0.4.6
Flask-DebugToolbar==0.13.1
flask-msearch==0.2.9.2
Flask-SQLAlchemy==3.0.5
Flask-WTF==1.1.1
Flask==2.3.3
itsdangerous
Jinja2==3.1.2
mariadb==1.1.7
mysqlclient
pymysql
Werkzeug==2.3.7
WTForms
sqlacodegen
flask-sqlacodegen==2.0.0