{% extends "common/base.html" %}
{% block body %}
    <div class="container">
        <h1>Hello
            {% if session["name"] %}
                {{ session["name"] }}
            {% else %}
                World
            {% endif %}
        </h1>

        <p>Bienvenu sur la page d'accueil</p>
        <!-- Dans ce href, on utilise la fonction url_for() qui permet de générer une url à partir du nom du controller
        et de la méthode associée -->
        <a href="{{ url_for('compte.comptes') }}">
            <button type="button">Page des comptes</button>
        </a>

        <a href="{{ url_for('compte.afficher', valeur='33') }}">
            <button type="button">Afficher</button>
        </a>

        <a href="{{ url_for('compte.hello') }}">
            {% if session["name"] %}
                <button type="button">Accès autorisée</button>
            {% else %}
                <button type="button">Accès non autorisée</button>
            {% endif %}
        </a>


        {% if not session["name"] %}
            <a href="{{ url_for('compte.connexion') }}">
                <button type="button">Login</button>
            </a>
        {% else %}
            <a href="{{ url_for('compte.deconnexion') }}">
                <button type="button">Déconnexion</button>
            </a>
        {% endif %}
    </div>
{% endblock %}
